html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?aupg1c");
  src: url("../fonts/icomoon/icomoon.eot?aupg1c#iefix") format('embedded-opentype'), url("../fonts/icomoon/icomoon.ttf?aupg1c") format('truetype'), url("../fonts/icomoon/icomoon.woff?aupg1c") format('woff'), url("../fonts/icomoon/icomoon.svg?aupg1c#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-apple-macintosh-logo:before {
  content: "\e900";
}
.icon-windows-8:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-radio-checked:before {
  content: "\ea54";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.img--responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.box {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.box__container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: wrap;
  -moz-box-flex: wrap;
  -o-box-flex: wrap;
  box-flex: wrap;
  -webkit-flex: wrap;
  -ms-flex: wrap;
  flex: wrap;
}
.box--margin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.padding--margin {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.text--secundary {
  font-size: 0.8rem;
}
.text--white {
  color: #fff;
  text-decoration: none;
}
.text--center {
  text-align: center;
}
.margin-top {
  margin-top: 3rem;
}
.list-none {
  list-style: none;
  padding: 0;
}
.hidden {
  display: none !important;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.rosado {
  background-color: #f5989d;
}
.morado--oscuro {
  background-color: #615f7d;
}
.verde--claro {
  background-color: #82ca9c;
}
.btn {
  padding: 6.2px 15px;
  margin-left: -6px;
  margin-top: -4px;
  display: inline-block;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  white-space: nowrap;
  background-color: #82ca9c;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-size: 1.5rem;
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn:visited {
  color: #fff;
}
.btn--small {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.btn--big {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: block;
  width: 100px;
}
.btn--morado {
  background-color: #bd8cbf;
}
.btn--gris {
  background-color: #e1e1e1;
}
form {
  margin-top: 10px;
}
input {
  display: inline-block;
  width: 80%;
  padding: 10px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  border: 1px solid color--verde;
  color: #f6f7fa;
}
input:hover {
  border-color: color--verde;
}
body {
  font-family: 'Open Sans', sans-serif;
}
html {
  color: #222626;
  font-size: 16px;
  line-height: 1.4;
}
::-moz-selection {
  background: #82ca9c;
  text-shadow: none;
}
::selection {
  background: #82ca9c;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
p {
  color: #959595;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #192431;
  color: #fff;
  padding: 0.2em 0;
}
.buy {
  background-color: #f6f7fa;
}
.buy__cart {
  background-color: #fff;
  -webkit-box-shadow: 3px 4px 45px #615f7d;
  box-shadow: 3px 4px 45px #615f7d;
  padding: 3rem;
}
.buy article:first-child {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
  margin-top: 2.7rem;
}
.buy article:last-child {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
  margin-left: 20%;
}
.buy__rs {
  margin-top: 1rem;
  color: #c5c5c5;
  font-size: 1.5rem;
}
.developed {
  font-size: 0.81rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
}
.footer {
  background-color: #192431;
}
.footer .left {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 55%;
  -ms-flex: 1 0 55%;
  flex: 1 0 55%;
}
.footer .left aside {
  margin: 0 2rem;
}
.footer .left aside:first-child {
  margin-left: 0;
}
.footer .left aside li {
  margin: 0.5rem 0;
}
.footer .right {
  margin-left: 7rem;
}
.header {
  background-image: url("../img/bg-header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  color: #fff;
}
.header__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.header__information {
  max-width: 40%;
}
.introduction {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.more-power {
  background-image: url("../img/more-power.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.more-power__container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}
.more-power__container p {
  max-width: 40%;
}
.logo {
  margin: 0;
  position: absolute;
  top: 1rem;
  left: 15px;
}
.logo a {
  font-family: 'Galada', cursive;
  color: #fff;
  text-decoration: none;
}
.services {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.services article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 20%;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  padding: 4rem 3rem;
}
.services article:nth-child(3) {
  background-image: url("../img/our-clients.jpg");
}
.services article:nth-child(4) {
  -webkit-flex-basis: 53.5%;
  flex-basis: 53.5%;
  background-image: url("../img/sign-up.jpg");
}
.services article p {
  font-size: 0.8rem;
}
.title {
  font-weight: 300;
}
.title--section {
  font-size: 3.5rem;
}
.title--main {
  font-size: 2rem;
}
.title--secundary {
  font-size: 1.8rem;
}
.title--secundary--small {
  font-size: 1.1rem;
}
.reasons {
  background-color: #82ca9c;
}
