@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?aupg1c');
    src:    url('fonts/icomoon.eot?aupg1c#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?aupg1c') format('truetype'),
        url('fonts/icomoon.woff?aupg1c') format('woff'),
        url('fonts/icomoon.svg?aupg1c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-apple-macintosh-logo:before {
    content: "\e900";
}
.icon-windows-8:before {
    content: "\e901";
}
.icon-checkmark:before {
    content: "\ea10";
}
.icon-arrow-right2:before {
    content: "\ea3c";
}
.icon-radio-checked:before {
    content: "\ea54";
}

