@import 'nib'
@import "normalize.styl"
@import "variables.styl"

body
    font-family 'Open Sans', sans-serif

html
    color primary-text
    font-size 16px
    line-height 1.4

::-moz-selection
    background verde--claro
    text-shadow none

::selection
    background verde--claro
    text-shadow none

hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

audio,
canvas,
iframe,
img,
svg,
video
    vertical-align middle

fieldset
    border 0
    margin 0
    padding 0

textarea
    resize vertical

p
    color primary-text-light

.browserupgrade
    margin 0.2em 0
    background azul-oscuro
    color white
    padding 0.2em 0

.buy
    background-color gris
    &__cart
        background-color white
        box-shadow 3px 4px 45px morado--oscuro
        padding 3rem
        margin-top 2rem
    // article:first-child
    //     flex-basis 40%
    //     margin-top 2.7rem
    // article:last-child
    //     flex-basis 40%
    //     margin-left 20%
    &__rs
        margin-top 1rem
        color #c5c5c5
        font-size 1.5rem

@media screen and (min-width:64em)

    .buy
        article:first-child
            flex-basis 40%
            margin-top 2.7rem
        article:last-child
            flex-basis 40%
            margin-left 20%

.developed
    font-size 0.81rem
    font-weight: 700
    padding-bottom 0.2rem

.footer
    background-color azul-oscuro
    .left
        // flex 1 0 55%
        aside
            margin 1rem 0
            li
                margin 0.5rem 0

@media screen and (min-width:37.5em)

    .footer
        .left
            .box__container
                flex-direction row
                justify-content center
                aside
                    margin 2rem

@media screen and (min-width:57.5em)

    .footer
        .left
            .box__container
                justify-content flex-start
                aside
                    &:first-child
                        margin-left 0

@media screen and (min-width:64em)

    .footer
        .left
            flex-basis 50%
        .right
            margin-left 7rem



    // .right
    //     margin-left 7rem


.header
    background-image url("../img/bg-header.jpg")
    background-position center center
    background-size cover
    width 100%
    height 100vh
    min-height: 100%;
    color white
    &__container
        min-height 100vh
        display flex
        flex-direction column
        justify-content center
        position relative
    &__information
        max-width 70%

.introduction
    display flex

.more-power
    background-image url("../img/more-power.jpg")
    background-position center center
    background-size cover
    width 100%
    height 600px
    &__container
        display: flex
        justify-content: center
        flex-direction: column
        height 100vh
        p
            max-width 80%

.look
    article
        margin  1rem 0

.logo
    margin 0
    absolute top 1rem left 15px
    a
        font-family: 'Galada', cursive;
        color white
        text-decoration none

.services
    display flex
    flex-flow: column wrap;
    article
        flex: 1 0 20%
        padding 3rem 1rem
        &:nth-child(3)
            background-image url("../img/our-clients.jpg")
            full-width()
        &:nth-child(4)
            flex-basis: 53.5%
            background-image url("../img/sign-up.jpg")
            full-width()

.title
    font-weight: 300
    &--section
        font-size 2.5rem
    &--main
        font-size 1.8rem
    &--secundary
        font-size 1.4rem
        &--small
            font-size 1.1rem

.reasons
    background-color verde--claro
    article
        margin 1rem 0
        font-size 0.8rem
        line-height 1.6








