// Variables

rosado= #f5989d
morado--oscuro = #615f7d
morado--claro = #bd8cbf
verde--claro = #82ca9c
azul-oscuro = #192431
blanco= #ffffff
primary-text = #222626
primary-text-light = #959595



// Reset

h1,
h2,
h3,
h4,
h5,
h6
	margin 0

// helpers

.img--responsive
	width 100%
	max-width 100%
	height auto

.box
	width 100%
	max-width 1170px
	padding 0 15px
	margin-left auto
	margin-right auto
	&--margin
		margin-top 5rem
		margin-bottom 5rem

.text
	&--secundary
		font-size 0.8rem
	&--white
		color white
		text-decoration none