// Fuentes

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?aupg1c');
    src:    url('../fonts/icomoon/icomoon.eot?aupg1c#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?aupg1c') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?aupg1c') format('woff'),
        url('../fonts/icomoon/icomoon.svg?aupg1c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-apple-macintosh-logo:before {
    content: "\e900";
}
.icon-windows-8:before {
    content: "\e901";
}
.icon-checkmark:before {
    content: "\ea10";
}
.icon-arrow-right2:before {
    content: "\ea3c";
}
.icon-radio-checked:before {
    content: "\ea54";
}



// Variables

rosado= #f5989d
morado--oscuro = #615f7d
morado--claro = #bd8cbf
verde--claro = #82ca9c
azul-oscuro = #192431
blanco= #ffffff
primary-text = #222626
primary-text-light = #959595
gris = #f6f7fa



// Reset

h1,
h2,
h3,
h4,
h5,
h6
	margin 0

// helpers

.img--responsive
	width 100%
	max-width 100%
	height auto

.box
	width 100%
	max-width 1170px
	padding 0 15px
	margin-left auto
	margin-right auto
	&__container
		display flex
		flex wrap
	&--margin
		margin-top 5rem
		margin-bottom 5rem


.padding
	&--margin
		padding-top 5rem
		padding-bottom 5rem

.text
	&--secundary
		font-size 0.8rem
	&--white
		color white
		text-decoration none
	&--center
		text-align center

.margin-top
	margin-top 3rem

.list-none
	list-style none
	padding 0

.hidden
	display none !important

.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
	clip auto
	height auto
	margin 0
	overflow visible
	position static
	width auto

.invisible
	visibility hidden

.rosado
	background-color rosado

.morado--oscuro
	background-color morado--oscuro

.verde--claro
	background-color verde--claro

// Botones

.btn
	padding 6.2px 15px
	margin-left -6px
	margin-top -4px
	display inline-block
	color white
	text-align center
	vertical-align middle
	font-size 100%
	white-space nowrap
	background-color verde--claro
	border none
	cursor pointer
	border-radius 0 5px 5px 0
	font-size 1.5rem
	text-decoration none
	&:hover
		text-decoration none
	&:active,
    &:focus
    	outline:none
    &:visited
    	color : white

	&--small
		border-radius 5px
		font-size 0.9rem
		font-weight 800
		margin-bottom 1rem

	&--big
		border-radius 5px
		font-size 1.1rem
		font-weight 700
		padding 1rem 2rem
		margin-top 1rem
		display block
		width 100px

	&--morado
		background-color morado--claro

	&--gris
		background-color #e1e1e1

// Formularios

form
	margin-top 10px

input
	display inline-block
	width 80%
	padding 10px
	border-radius 5px 0 0 5px
	background-color white
	border 1px solid color--verde
	color gris
	&:hover
		border-color color--verde



